@font-face{ 
  font-family: 'RobotoMono';
  src: url('./Fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(147,147,147,1) 31%, rgba(0,0,0,1) 100%);;
}